﻿
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Tài Khoản
            <small>Danh sách</small>
        </h1>
    </div>
    <!-- /.col-lg-12 -->
    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr align="center">
                <th>ID</th>
                <th>Email</th>
                <th>User Name</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.listacc)
            {
                <tr class="odd gradeX" align="center">
                    <td>@item.Id</td>
                    <td>@item.Email</td>
                    <td>@item.UserName</td>
                    <td class="center"><i class="fa fa-pencil fa-fw"></i> <a href="">Edit</a></td>
                </tr>
            }


        </tbody>
    </table>
</div>
