﻿@{
    ViewBag.Title = "Edit";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Hóa đơn
            <small>Chi tiết hóa đơn</small>
        </h1>
    </div>
    <!-- /.col-lg-12 -->
    @using (Html.BeginForm("Edit","HoaDon", FormMethod.Post))
    {
    <div class="panel">
        <div class="form-group">
            <label>Mã hóa đơn:@Model.MaHoaDon</label>
            <input type="hidden" value="@Model.MaHoaDon" name="MaHoaDon"/>
        </div>
        <div class="form-group">
            <label>Ngày lập :@Model.NgayLap</label>
        </div>
        <div class="form-group">
            <label>Mã khách hàng :@Model.MaKhachHang</label>
        </div>
        <div class="form-group">
            @if (@Model.TrangThaiHD == 1)
            { <label>Trạng thái: Chờ duyệt</label> }
            else if (@Model.TrangThaiHD == 2)
            { <label>Trạng thái: Chốt order</label> }
            else if (@Model.TrangThaiHD == 3)
            { <label>Trạng thái: Đã hoàn thành</label> }

        </div>
        <div class="form-group">
            <label>Tổng tiền:@Model.TongTien</label>
        </div>
        <div class="form-group">
            <label>Nơi nhận:</label>
            <input type="text" name="NoiNhan" value="@Model.NoiNhan" />
            <input type="submit" value="Update" />
        </div>
    </div>
    }
    <div class="col-lg-12">
        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
                <tr align="center">
                    <th>ID sản phẩm</th>
                    <th>Giá Sản Phẩm</th>
                    <th>Số lượng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.chitiet)
                {
                   <tr class="odd gradeX" align="center">
                       <td>@item.MaSP</td>
                       <td>@item.GiaSP</td>
                       <td>@item.SoLuong</td>
                   </tr>
                }
                </tbody>
            </table>
    </div>
</div>


