﻿
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Danh sách hóa đơn
            <small>Danh sách</small>
        </h1>
    </div>
    <!-- /.col-lg-12 -->
    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr align="center">
                <th>ID người đặt</th>
                <th>Ngày lập</th>
                <th>Trạng thái</th>
                <th>Action</th>
                <th>Tổng tiền</th>
                <th>Edit</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.list)
            {
                <tr class="odd gradeX" align="center">
                    <td>@item.MaKhachHang</td>
                    <td>@item.NgayLap</td>
                    @if (@item.TrangThaiHD == 1)
                    {
                        <td>Chờ Duyệt</td>
                        <td class="center"><i class="fa fa-pencil fa-fw"></i> <a href="@Url.Action("Changes","HoaDon", new { mahd =item.MaHoaDon,khoa = item.TrangThaiHD })">Duyệt order</a></td>
                    }
                    else if (@item.TrangThaiHD == 2)
                    {
                        <td>Đang Giao</td>
                        <td class="center"><i class="fa fa-pencil fa-fw"></i> <a href="@Url.Action("Changes","HoaDon", new { mahd =item.MaHoaDon,khoa = item.TrangThaiHD })">Xong order</a></td>
                    }
                    else if (@item.TrangThaiHD == 3)
                    {
                    <td>Hoàn tất</td>
                    <td>No Action</td>
                    }
                    <td>@item.TongTien</td>
                    <td class="center"><i class="fa fa-pencil fa-fw"></i> <a href="@Url.Action("Edit","HoaDon", new { mahd =item.MaHoaDon})">Edit</a></td>
                    
                </tr>
            }


        </tbody>
    </table>
</div>

