﻿@model IEnumerable<shop.LOAISANPHAM>

@{
    Layout = null;
}
        @foreach (var item in Model)
            {
            <li><a href="@Url.Action("LoaiSP", "Product", new { id=item.MaLoaiSanPham})">@item.TenLoaiSanPham</a></li>
        }