﻿@model IEnumerable<shop.NHASANXUAT>
@{
    Layout = null;
}

        @foreach (var item in Model)
            {
            <li><a href="@Url.Action("NSX", "Product", new { id = item.MaNSX})">@item.TenNSX</a></li>
        }
