﻿
@{
    ViewBag.Title = "Create";
}
@using (Html.BeginForm("Create", "SanPham", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Product
            <small>Thêm sản phầm</small>
        </h1>
    </div>
    <!-- /.col-lg-12 -->
    <div class="col-lg-7" style="padding-bottom:120px">
      
            <div class="form-group">
                <label>Tên</label>
                <input class="form-control" name="TenSanPham" placeholder="" />
            </div>
            <div class="form-group">
                <label>Giá</label>
                <input class="form-control" name="Gia" placeholder="" />
            </div>
        <div class="form-group">
            <label>Giá Giảm</label>
            <input class="form-control" name="GiamGia" placeholder="" />
        </div>
            
            <div class="form-group">
                <label>Loại Sản Phẩm: </label>
                <select name="LoaiSp">
                    @foreach (var item in ViewBag.dslsp)
                    {
                        <option value="@item.MaLoaiSanPham">@item.TenLoaiSanPham</option>
                    }
                    
                </select>
                
            </div>
        <div class="form-group">
            <label>Nhà Sản Xuất: </label>
            <select name="NhaSx">
                @foreach (var item in ViewBag.dsnsx)
                {
                    <option value="@item.MaNSX">@item.TenNSX</option>
                }

            </select>

        </div>

            <div class="form-group">
                <label>Images</label>
                <input type="file" name="HinhAnh">
            </div>
            
            <div class="form-group">
                <label>Product Description</label>
                <textarea class="form-control tinymce" rows="3" name="MoTa"></textarea>
            </div>
            
            <button type="submit" class="btn btn-default">Thêm Sản Phẩm</button>
            <button type="reset" class="btn btn-default">Reset</button>
            
    </div>
</div>
}