﻿
@{
    ViewBag.Title = "Edit";
}
@using (Html.BeginForm("Edit", "SanPham", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Product
                <small>Chi tiết sản phẩm</small>
            </h1>
        </div>
        <!-- /.col-lg-12 -->
        <div class="col-lg-7" style="padding-bottom:120px">
            <div class="form-group">
                <label>Mã sản phẩm : @Model.MaSanPham</label>
                <input type="hidden" name="MaSanPham" value="@Model.MaSanPham" />
            </div>

            <div class="form-group">
                <label>Tên</label>
                <input class="form-control" name="TenSanPham" value="@Model.TenSanPham" />
            </div>
            
            <div class="form-group">
                <label>Giá</label>
                <input class="form-control" name="Gia" value="@Model.Gia" />
            </div>
            <div class="form-group">
                <label>Giá Giảm</label>
                <input class="form-control" name="GiamGia" value="@Model.GiamGia" />
            </div>

            <div class="form-group">
                <label>Loại Sản Phẩm: </label>
                <select name="LoaiSp">
                    @foreach (var item in ViewBag.dslsp)
                    {
                        if (@item.MaLoaiSanPham == @Model.LoaiSp)
                        {
                            <option value="@item.MaLoaiSanPham" selected>@item.TenLoaiSanPham</option>
                            continue;
                        }
                        <option value="@item.MaLoaiSanPham">@item.TenLoaiSanPham</option>
                    }

                </select>

            </div>
            <div class="form-group">
                <label>Nhà Sản Xuất: </label>
                <select name="NhaSx">
                    @foreach (var item in ViewBag.dsnsx)
                    {
                        if (@item.MaNSX == @Model.NhaSx)
                        {
                            <option value="@item.MaNSX" selected>@item.TenNSX</option>
                            continue;
                        }
                        <option value="@item.MaNSX">@item.TenNSX</option>
                    }

                </select>

            </div>
            <div class="form-group">
                <label>Images</label>
                <input type="file" name="HinhAnh">
                <img src="~/@Model.HinhAnh" alt="Alternate Text" width="20%" height="20%"/>
            </div>

            <div class="form-group">
                <label>Product Description</label>
                <textarea class="form-control tinymce" rows="3" name="MoTa">@Model.MoTa</textarea>
            </div>

            <button type="submit" class="btn btn-default">Cập nhật</button>
            <button type="reset" class="btn btn-default">Reset</button>

        </div>
    </div>
}