﻿
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Product
            <small>Danh sách sản phẩm</small>
        </h1>
    </div>
    <!-- /.col-lg-12 -->
    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr align="center">
                <th>ID</th>
                <th>Name</th>
                <th>Giá</th>
                <th>Giá Giảm</th>
                <th>Ngày tạo</th>
                <th>Mô tả</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.list)
            {
                <tr class="odd gradeX" align="center">
                    <td>@item.MaSanPham</td>
                    <td>@item.TenSanPham</td>
                    <td>@item.Gia</td>
                    <td>@item.GiamGia</td>
                    <td>@item.NgayTao</td>
                    <td>@Html.Raw(item.MoTa)</td>
                    @if (@item.TrangThaiSP == 1)
                    {
                        <td class="center"><i class="fa fa-trash-o  fa-fw"></i><a href="@Url.Action("Delete", "SanPham", new { id = item.MaSanPham, khoa =1 })">Khóa</a></td>
                    }
                    else
                    {

                        <td class="center"><i class="fa fa-trash-o  fa-fw"></i><a href="@Url.Action("Delete", "SanPham", new { id = item.MaSanPham, khoa =0 })">Mở khóa</a></td>
                    }
                    <td class="center"><i class="fa fa-pencil fa-fw"></i> <a href="@Url.Action("Edit", "SanPham", new { id=item.MaSanPham })">Edit</a></td>
                </tr>

            }


        </tbody>
    </table>
</div>
