﻿
@{
    ViewBag.Title = "Top";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Product
            <small>Top sản phẩm bán chạy nhất</small>
        </h1>
    </div>
    <div class="col-lg-12">
        <table class="table">
            @foreach (var item in ViewBag.top)
            {
                <tr>
                    <td>@item.TenSanPham</td>
                </tr>
            }
        </table>
    </div>
</div>