﻿
@{
    ViewBag.Title = "Create";
}
@using (Html.BeginForm("Create", "LoaiSanPham", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Loại Sản Phẩm
            <small>Thêm mới loại sp</small>
        </h1>
    </div>
    <!-- /.col-lg-12 -->
    <div class="col-lg-7" style="padding-bottom:120px">
        

            <div class="form-group">
                <label>Têm loại sản phẩm</label>
                <input class="form-control" name="TenLoaiSanPham" placeholder="Tên Loại sp" />
            </div>

            <button type="submit" class="btn btn-default">Thêm loại sản phẩm</button>
            <button type="reset" class="btn btn-default">Reset</button>
           
    </div>
</div>
}