﻿
@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "LoaiSanPham", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Cập nhật
            <small>loại sản phẩm</small>
        </h1>
    </div>
    <!-- /.col-lg-12 -->
    <div class="col-lg-7" style="padding-bottom:120px">


        <div class="form-group">
            <label>Tên</label>
            <input class="form-control" name="TenLoaiSanPham" value="@Model.TenLoaiSanPham" />
        </div>
        <input type="hidden" name="MaLoaiSanPham" value="@Model.MaLoaiSanPham" />
        <button type="submit" class="btn btn-default">Cập nhật</button>
        <button type="reset" class="btn btn-default">Reset</button>

    </div>
</div>
}