﻿
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Loại Sản Phẩm
            <small>Danh sách</small>
        </h1>
    </div>
    <!-- /.col-lg-12 -->
    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr align="center">
                <th>ID</th>
                <th>Name</th>
                <th>Trạng thái</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.dslsp)
            {
                <tr class="odd gradeX" align="center">
                    <td>@item.MaLoaiSanPham</td>
                    <td>@item.TenLoaiSanPham</td>
                    @if(@item.TrangThaiLSP==1)
                    { 
                        <td>Mở</td>
                        <td class="center"><i class="fa fa-trash-o  fa-fw"></i><a href="@Url.Action("Delete", "LoaiSanPham", new { id = item.MaLoaiSanPham, khoa =1 })">Khóa</a></td>
                    }
                    else
                    {
                    <td>Khóa</td>
                    <td class="center"><i class="fa fa-trash-o  fa-fw"></i><a href="@Url.Action("Delete", "LoaiSanPham", new { id = item.MaLoaiSanPham, khoa =0 })">Mở khóa</a></td>
                    }                    
                    
                    <td class="center"><i class="fa fa-pencil fa-fw"></i> <a href="@Url.Action("Edit", "LoaiSanPham", new { id=item.MaLoaiSanPham })">Edit</a></td>
                </tr>
            }
           
            
        </tbody>
    </table>
</div>