﻿@using Shop.Controllers;
@{
    ViewBag.Title = "Create";
}

<h2>Chào bạn @User.Identity.Name !</h2>
<h4>Xin hãy nhập thông tin nơi nhận của bạn để chúng tôi có thể liên lạc với bạn:</h4><br/>

@using (Html.BeginForm("Create", "ShoppingCart", FormMethod.Post))
{
    <textarea rows="4" cols="50" name="diachi"></textarea>
    <input type="submit" value="Gửi">
}

<section id="cart_items">
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">Shopping Cart</li>
        </ol>
    </div>
    <div class="table-responsive cart_info">
        <table class="table table-condensed">
            <thead>
                <tr class="cart_menu">
                    <td class="image" width="100">Item</td>
                    <td class="description"></td>
                    <td class="price">Price</td>
                    <td class="quantity">Quantity</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (Items item in (List<Items>)Session["cart"])
                {
                    <tr>
                        <td class="cart_product">
                            <a href="@Url.Action("Details","Product", new { id = @item.Sp.MaSanPham})"><img src="~/@item.Sp.HinhAnh" alt="" width="30%" height="30%"></a>
                        </td>
                        <td class="cart_description">
                            <h4><a href="">@item.Sp.TenSanPham</a></h4>
                        </td>
                        <td class="cart_price">
                            <p>$@item.Sp.GiamGia</p>
                        </td>
                        <td class="cart_quantity">
                            <h4>@item.Soluong</h4>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price">$@(item.Sp.GiamGia * item.Soluong)</p>
                        </td>
                        
                    </tr>
                }
                <tr>
                    <td colspan="3">&nbsp;</td>
                    <td colspan="2">
                        <table class="table table-condensed total-result">
                            <tbody>
                                <tr class="shipping-cost">
                                    <td>Tiền ship</td>
                                    <td>Free</td>
                                </tr>
                                <tr>
                                    <td>Tổng tiền</td>
                                    <td><span>$@ViewBag.tongtien</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>


            </tbody>
        </table>

    </div>

</section>