﻿@using Shop.Controllers;
@{
    ViewBag.Title = "Index";
}

@if (Session["cart"] == null)
{
    
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
    <h1>Giỏ hàng rỗng</h1><br/>
    <h3>Vui lòng thêm sản phẩm!</h3>
}
else
{
        <section id="cart_items">
                <div class="breadcrumbs">
                    <ol class="breadcrumb">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="active">Shopping Cart</li>
                    </ol>
                </div>
                <div class="table-responsive cart_info">
                    <table class="table table-condensed">
                        <thead>
                            <tr class="cart_menu">
                                <td class="image" width="100">Item</td>
                                <td class="description"></td>
                                <td class="price">Price</td>
                                <td class="quantity">Quantity</td>
                                <td class="total">Total</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Items item in (List<Items>)Session["cart"])
                            {
                                <tr>
                                    <td class="cart_product">
                                        <a href="@Url.Action("Details","Product", new { id = @item.Sp.MaSanPham})"><img src="~/@item.Sp.HinhAnh" alt="" width="30%" height="30%"></a>
                                    </td>
                                    <td class="cart_description">
                                        <h4><a href="">@item.Sp.TenSanPham</a></h4>
                                    </td>
                                    <td class="cart_price">
                                        <p>$@item.Sp.GiamGia</p>
                                    </td>
                                    <td class="cart_quantity">
                                        <div class="cart_quantity_button">
                                           
                                            @using (Html.BeginForm("Update", "ShoppingCart", FormMethod.Post))
                                            {
                                                <input type="hidden" name="id" value="@item.Sp.MaSanPham" />
                                                <input class="cart_quantity_input" type="text" name="soluong" value="@item.Soluong" autocomplete="off" size="2" />
                                                <button type="submit" class="btn btn-fefault cart">
                                                    <i class="fa fa-shopping-cart"></i>
                                                    Update
                                                </button>
                                            }
                                        </div>
                                    </td>
                                    <td class="cart_total">
                                        <p class="cart_total_price">$@(item.Sp.GiamGia * item.Soluong)</p>
                                    </td>
                                    <td class="cart_delete">
                                        <a class="cart_quantity_delete" href="@Url.Action("Xoa","ShoppingCart", new { id = @item.Sp.MaSanPham})"><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td colspan="4">&nbsp;</td>
                                <td colspan="2">
                                    <table class="table table-condensed total-result">
                                        <tbody>
                                            <tr class="shipping-cost">
                                                <td>Tiền ship</td>
                                                <td>Free</td>
                                            </tr>
                                            <tr>
                                                <td>Tổng tiền</td>
                                                <td><span>$@ViewBag.tongtien</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>


                        </tbody>
                    </table>
 
                </div>
            <a href="@Url.Action("Create","ShoppingCart")" class="btn btn-fefault cart" text-align="right"><i class="fa fa-shopping-cart"></i>
                Đặt hàng</a>
                
        </section>
        }
