﻿
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "NhaSanXuat", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Nhà Sản Xuất
                <small>Thêm mới NSX</small>
            </h1>
        </div>
        <!-- /.col-lg-12 -->
        <div class="col-lg-7" style="padding-bottom:120px">


            <div class="form-group">
                <label>Tên Nhà Sản Xuất</label>
                <input class="form-control" name="TenNSX" placeholder="Tên NSX" />
            </div>

            <button type="submit" class="btn btn-default">Thêm NSX</button>
            <button type="reset" class="btn btn-default">Reset</button>

        </div>
    </div>
}