﻿
@{
    ViewBag.Title = "Edit";
}

<!DOCTYPE html>

@using (Html.BeginForm("Edit", "NhaSanXuat", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Cập Nhật
                <small>NSX</small>
            </h1>
        </div>
        <!-- /.col-lg-12 -->
        <div class="col-lg-7" style="padding-bottom:120px">


            <div class="form-group">
                <label>Tên Nhà sản xuất</label>
                <input class="form-control" name="TenNSX" value="@Model.TenNSX" />
            </div>
            <input type="hidden" name="MaNSX" value="@Model.MaNSX" />
            <button type="submit" class="btn btn-default">Cập Nhật</button>
            <button type="reset" class="btn btn-default">Reset</button>

        </div>
    </div>
}