﻿
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Nhà Sản Xuất
            <small>Danh sách</small>
        </h1>
    </div>
    <!-- /.col-lg-12 -->
    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr align="center">
                <th>ID</th>
                <th>Name</th>
                <th>Trạng thái</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.dsnsx)
            {
                <tr class="odd gradeX" align="center">
                    <td>@item.MaNSX</td>
                    <td>@item.TenNSX</td>
                    @if (@item.TrangThaiNSX == 1)
                    {
                        <td>Mở</td>
                        <td class="center"><i class="fa fa-trash-o  fa-fw"></i><a href="@Url.Action("Delete", "NhaSanXuat", new { id = item.MaNSX, khoa =1 })">Khóa</a></td>
                    }
                    else
                    {
                        <td>Khóa</td>
                        <td class="center"><i class="fa fa-trash-o  fa-fw"></i><a href="@Url.Action("Delete", "NhaSanXuat", new { id = item.MaNSX, khoa =0 })">Mở khóa</a></td>
                    }

                    <td class="center"><i class="fa fa-pencil fa-fw"></i> <a href="@Url.Action("Edit", "NhaSanXuat", new { id=item.MaNSX })">Edit</a></td>
                </tr>
            }


        </tbody>
    </table>
</div>
