﻿<div class="row">
    <div class="col-lg-12">
        <h1>Công ty trách nhiệm hữu hạn 3 thành viên</h1>
        <h3> Giám Đốc: Tạ Công Khang</h3>
        <h3> Điện thoại :0934965439</h3>
    </div>
    <div class="col-lg-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4173597085965!2d106.65319721435043!3d10.779311892319592!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ec7b592c117%3A0x522d5a82a901cbb!2zNzMgTMO9IFRoxrDhu51uZyBLaeG7h3QsIHBoxrDhu51uZyA5LCBUw6JuIELDrG5oLCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1497760276831" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>