﻿
@{
    ViewBag.Title = "Details";
}
    <div class="product-details">
        <!--product-details-->
        <div class="col-sm-5">
            <div class="view-product">
                <img src="~/@Model.HinhAnh" alt="">
                <h3>ZOOM</h3>
            </div>
            <div id="similar-product" class="carousel slide" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active left">
                        <a href=""><img src="~/images/product-details/similar1.jpg" alt=""></a>
                        <a href=""><img src="~/images/product-details/similar2.jpg" alt=""></a>
                        <a href=""><img src="~/images/product-details/similar3.jpg" alt=""></a>
                    </div>
                    <div class="item next left">
                        <a href=""><img src="~/images/product-details/similar1.jpg" alt=""></a>
                        <a href=""><img src="~/images/product-details/similar2.jpg" alt=""></a>
                        <a href=""><img src="~/images/product-details/similar3.jpg" alt=""></a>
                    </div>
                    <div class="item">
                        <a href=""><img src="~/images/product-details/similar1.jpg" alt=""></a>
                        <a href=""><img src="~/images/product-details/similar2.jpg" alt=""></a>
                        <a href=""><img src="~/images/product-details/similar3.jpg" alt=""></a>
                    </div>

                </div>

                <!-- Controls -->
                <a class="left item-control" href="#similar-product" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="right item-control" href="#similar-product" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>

            </div>
            




        </div>
        <div class="col-sm-7">
            <div class="product-information">
                <!--/product-information-->
                <img src="~/images/product-details/new.jpg" class="newarrival" alt="">
                <h2>@Model.TenSanPham</h2>               
                <img src="~/images/product-details/rating.png" alt="">
                <br />
                <span>
                    <h4>Giá :<s>@Model.Gia</s></h4>
                    <h2>Giá Sốc:</h2><span>@Model.GiamGia</span>
                    <br />
                    <label>View : @Model.SoLuongXem</label>
                    <label>Số lượng</label>
                @using (Html.BeginForm("Them", "ShoppingCart", FormMethod.Post))
                    {
                    <input type="hidden" name="id" value="@Model.MaSanPham"/>
                    <input type="text" value="1" name="soluong">
                    <button type="submit" class="btn btn-fefault cart">
                        <i class="fa fa-shopping-cart"></i>
                        Thêm vào giỏ
                    </button>
                   }
                </span>
                <p><b>Availability:</b> Còn Hàng</p>
                <p><b>Condition:</b> New</p>
                <p><b>Brand:</b> Shop LongHaLan</p>
                <a href=""><img src="~/images/product-details/share.png" class="share img-responsive" alt=""></a>
            </div><!--/product-information-->
        </div>
    </div>
<div class="col-sm-8">
    <div class="warp-comments">
        <h2>Bình Luận</h2>
        @using (Html.BeginForm("Create", "BinhLuan", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <input name="MaSanPham" value="@Model.MaSanPham" type="hidden" />
                    @Html.TextArea("NoiDung")
                    <button type="submit" class="btn btn-success">Gửi</button>
        }
        <div class="conments">
            @foreach (var item in ViewBag.ListComments)
            {
                <div class="comment-name">
                    @item.MaTaiKhoan
                </div>
                        <div class="comments-content" style="text-align:right;">
                            @item.NoiDung
                        </div>
            }

        </div>
    </div><!--/product-details-->
 </div>