﻿@model IEnumerable<shop.SANPHAM>

<div class="row">
    <h2 class="title text-center">Sản Phẩm Xem Nhiều nhất</h2>
    @foreach (var item in ViewBag.TopView)
    {
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <a href="@Url.Action("Details", "Product", new { id=item.MaSanPham })"><img src="~/@item.HinhAnh" alt="" height="360px"></a>
                        <h2>@item.GiamGia</h2>
                        <p>@item.TenSanPham</p>
                        @using (Html.BeginForm("Them", "ShoppingCart", FormMethod.Post))
                        {
                            <input type="hidden" name="id" value="item.MaSanPham" />
                            <input type="hidden" name="soluong" value="1" />
                            <button class="btn btn-default add-to-cart" type="submit">
                                <i class="fa fa-shopping-cart"></i>Thêm vào giỏ
                            </button>

                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>
    <div class="row">
        <h2 class="title text-center">Sản Phẩm Xem Nhiều nhất</h2>
        @foreach (var item in ViewBag.TopSell)
        {
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <a href="@Url.Action("Details", "Product", new { id=item.MaSanPham })"><img src="~/@item.HinhAnh" alt="" height="360px"></a>
                            <h2>@item.GiamGia</h2>
                            <p>@item.TenSanPham</p>
                            @using (Html.BeginForm("Them", "ShoppingCart", FormMethod.Post))
                            {
                                <input type="hidden" name="id" value="item.MaSanPham" />
                                <input type="hidden" name="soluong" value="1" />
                                <button class="btn btn-default add-to-cart" type="submit">
                                    <i class="fa fa-shopping-cart"></i>Thêm vào giỏ
                                </button>

                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
