﻿@model PetaPoco.Page<shop.SANPHAM>

<!--features_items-->
<h2 class="title text-center">Tìm Kiếm</h2>
@if (Model.Items.Count == 0)
{
    <h1>Không tìm thấy sản phẩm phù hợp</h1>
}
else
{
        foreach (var item in Model.Items)
    {
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="~/@item.HinhAnh" alt="">
                    <h2>@item.GiamGia</h2>
                    <p>@item.TenSanPham</p>
                    <a href="@Url.Action("Them","ShoppingCart",new { id = @item.MaSanPham,soluong = 1})" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                </div>

                <div class="choose">
                    <ul class="nav nav-pills nav-justified">
                        <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                        <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    }
    <div class="col-sm-12" align="center">
        <ul class="pagination">
            @if (Model.CurrentPage > 1)
            {
                <li><a href="@Url.Action("Search", "Product", new { Page = Model.CurrentPage - 1})"><span class="fa fa-angle-left"></span> Prev</a></li>
            }
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                if (i == Model.CurrentPage)
                {
                    <li class="active"><a href="@Url.Action("Search", "Product", new { Page = i})">@i</a></li>
                }
                else
                {
                    <li><a href="@Url.Action("Search", "Product", new { Page = i})">@i</a></li>
                }

            }

            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li><a href="@Url.Action("Search", "Product", new { Page = Model.CurrentPage + 1})">Next <span class="fa fa-angle-right"></span></a></li>
            }
        </ul>
    </div>

}